.navContainer {
  width: auto;
  height: fit-content;
  display: flex;
  background-color: purple;
  justify-content: space-between;
}
.navText {
  font-size: 32px;
  color: white;
}
.navList {
  display: flex;
}
.navLink {
  background-color: white;
  /* color: inherit; */
  border: 2px solid teal;
  border-radius: 10px;
  padding: 10px 20px;

  text-align: center;

  display: inline-block;
}
.link {
  color: inherit;
  text-decoration: none;
}

/* .button {
  background-color: turquoise;
  cursor: pointer;
  border-radius: 8px;
  width: 150px;
  height: fit-content;
  font-size: 32px;
  color: white;
} */

/* CSS */
.button {
  background-color: teal;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 150px;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  color: #000;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
